/*по html 1*/
/*цвет основного текста color: #757575;*/
/*цвет текста второстепенный  color: #212121;*/
/*цвет текста заголовка h1, кнопки и почт.адреса color: #FFFFFF;*/
/*цвет текста мыла и телефон в футере color: rgba(255, 255, 255, 0.6);*/
/*цвет текста части логотипа color: #2196F3;*/
/*акцент текста на макете при наведении мышки #2196F3*/

/*1. цвет фона основной белый  background: #FFFFFF ;*/
/*2. цвет фона вторичный серый(длок наша команда) background: #F5F4FA;*/
/*3. цвет фона блока особенности background: #E5E5E5*/
/*4. цвет фона синий(главный блок и футер) background: #2F303A*/


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
}

body {
    background-color: #E5E5E5;
    color: var(--primary-text-color); /*было #757575*/
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;

}

/*убираем точечки*/
ul {
    list-style: none;
}



/* ЛОГО*/
.logo {
    color: var(--title-text-color); /*было #212121*/
    font-family: Raleway; cursive;
    font-size: 26px;
    line-height: 1.19;
        

}
.logo:hover {
    color: var(--accent-color); /*было #2196F3*/
} 
 

/*site-nav*/
.site-nav .link {
    color: var(--title-text-color); /*было #212121*/
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color); /*было 2196F3*/
}

/*.site-nav .link.current{
    color: var(--accent-color);
}*/

.site-contacts a {
    color: var(--primary-text-color); /*было #757575*/
}
.site-contacts a:hover,
.site-contacts a:focus {
    color: var(--accent-color); /*было #2196F3*/
}


/*HERO*/
.hero-title {
    color: #FFFFFF;
    
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        
}

/*SECTION FEATURES, OCCUPATION*/
.section-title {
    color: var(--title-text-color) ; /*было #212121*/
 /* или в html все section заменить на features,
occupation, team, а в заголовках: features-title, occupation-title, team-title*/
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
}

/*FEATURES LIST*/
.feature-list, .title {
    color: var(--title-text-color); /*было #212121*/
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em; 
}

.feature-list, .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
}

.team-list, .title {
    color: var(--title-text-color); /*было #212121*/
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-list, p {
    color: var(--primary-text-color); /*было #757575*/
     font-weight: 400;
     font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/*HTML portfolio*/

/*Work examples*/
.work-list, .title {
    color: var(--title-text-color); /*было #212121*/
    font-weight: 700px;
    font-size: 18px;
    line-height: 2;
}

/*Button*/

/*.button {
    color: var(--primary-white-color) ;
    background-color: var(--accent-color) ;
}*/

.button {
    color: #212121;
    background-color:#F5F4FA;
    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
        
        
    
    
}

/*.button-primary {}
.button-secondary {}*/

.button:hover {
    background-color:#2196F3;
    color: #FFFFFF;
}

/*.button:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}*/

.hero-button {
    color: #FFFFFF;
    background-color: #2196F3;
}


/*.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
.button.primary {
        background-color: var(--primary-white-color);
        color: var(--accent-color);
    }

    .button.secondary {
        background-color: var(--accent-color;
                color: var(--primary-white-color);
}*/

/*<button type="button" class="button">Заказать услугу</button>*/

/*ФУТЕР, меняем цвет текста почт. адреса*/
.address {
    color: #FFFFFF;
}

/*backgrounds*/
/*header*/
 /*.header {
    background-color: #FFFFFF;
}
/*hero*/
/*.hero {
    background-color: #2F303A;
}*/
/*features, occupation*/
/*.features,
.occupation {
    background-color: #E5E5E5;
}*/
/*team*/
/*.team {
    background-color: #F5F4FA;
}*/
/*footer*/
/*.footer {
    background-color: #2F303A;
}*/
